{% extends 'layouts/app.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="text-center">Page Not Found</h1>
			<p>The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below.</p>
		</div>
	</div>
</div>
{% endblock %}